

    body{
		color: #333;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	}

    .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }

	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		margin:0;
		padding:0;
	}
	h2{
		font-size: 2em;
		margin: 0 0 18px 0;
		font-family: arial,helvetica;
	}

	/* Common styles
	* --------------------------------------- */
	img{
	    -webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	}
	.section{
		text-align:center;
		overflow:hidden;
	}
	.wrap{
		width: 1180px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.box{
		text-align: left;
		color: #808080;
		font-size: 1.2em;
		line-height: 1.6em;
	}




	/* Section 0
	* --------------------------------------- */

	#section0 .horizontalBox {
		display: inline;
	}

	#section0 .horizontalBox svg{
		width: 100%;
	    margin-top: 19%;
	    margin-left: 0%;
	}

	#section0 .horizontalBox div{
		color: #fff;
	    margin-top: 1%;
	    margin-left: 0%;
		font-size: x-large;
	}



	/* Section 1
	* --------------------------------------- */

	#section1{
		padding: 60px 0;
	}
	#section1 img{
		height: 100%;
		margin: 0 0 0 0;
	}



	/* Section 2
	* --------------------------------------- */

	#section2 .horizontalBox {
		display: inline-flex;
		width: 100%;
		margin-top: 17%;
		vertical-align: center;
		color : #fff;
	}

	#section2 .wrap .horizontalBox .emotionBox {
    	text-align: left;
	}

	#section2 .wrap .horizontalBox .emotionBox:nth-child(1) {
		margin-right: 10%;
    	margin-left: 20%;
	}

	#section2 .wrap .horizontalBox .emotionBox>div {
		text-align: left;
		vertical-align: middle;
		margin-top: 5%;
		margin-bottom: 5%;
		width: 280px;
	}

	#section2 .wrap .horizontalBox .emotionBox .emotionColor {
		width: 25px;
		height: 25px;
		display: inline-block;
		vertical-align: middle;
		background-color: #fff;
		margin-right: 10%;
	}

	#section2 .wrap .horizontalBox .emotionBox div span {
		font-size: medium;
		height: 25px;
		margin : 0 0 0 0;
		margin-left: 0;
		margin-right: 0;
	}

	#section2 .wrap .horizontalBox .emotionBox .emotionView {
		text-align: right;
		float: right;
	}

	.display-none{
	    display: none;
	}



	/*screen resolutions between 620px and 800px*/
	@media all and (min-width: 620px) and (max-width: 800px){
		#section1 .imgsContainer{
			margin-top: -278px;
			margin-left: -685px;
			width: 647px;
			height: 563px;
		}
	}

	/*screen resolutions lower than 620px*/
	@media all and (max-width: 620px){
		#section1 .imgsContainer{
			margin-top: -208px;
			margin-left: -516px;
			width: 534px;
			height: 464px;
		}
	}

	/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
	.fp-tooltip{
		color: #fff;
	}
	#fp-nav span, .fp-slidesNav span{
		border-color: #fff;
	}

	#fp-nav li .active span, .fp-slidesNav .active span{
		background: #fff;
	}

	/* add
	*/
	#fp-nav ul li a span, .fp-slidesNav ul li a span {
		background: #BDBDBD;
	}